.contact{
    display: flex;
    align-items: center;
}
.contact__header{
    text-transform: uppercase;
    font-size: 30px;
}
@media (max-width: 767px){
    .contact__header{
        font-size: 25px;
        margin: 0;
    }
}
.contact__paragraph{
    line-height: 1.9;
    color: #777;
    font-size: 18px;
}
@media (max-width: 767px){
    .contact__paragraph{
        font-size: 16px;
        line-height: 1.5;
    }
}
.contact__image{
    width: 40%;
    margin-right: 30px;
}
@media (max-width: 767px){
    .contact__image{
        display: none;
    }
}