.main-banner{
    background-image: url(/images/mountains-736886.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.main-banner__button{
    border: solid 2px whitesmoke;
    padding: 20px 30px;
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.main-banner__button:hover{
    background: black;
}